@media(max-width: 400px) {
	.header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: black;
		height: 3.5rem;
		position: fixed;
		width:100%;
		top:0rem;
	}
	.menu_img{
		width: 3.5rem;
		margin: 0.5rem;
	}
	.menu{
		position: absolute;
		display: none;
		background-color: black;
		color: white;
		height: 10rem;
		width: 12rem;
		top:3.5rem;
		right:0.5rem;
	}
	.item{
		padding: 0.5rem;
		text-align: right;
	}
	/*---------------------------------------*/
	.main{
		display: flex;
		margin-top: 3rem;
	}

	.Top{
		margin-top: 0rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 7rem;
	}
	.Curso{
		display: block;
		height: 1rem;
		width: 7.4rem;
		margin: 1.5rem;
		padding: 0.5rem;
		color: black;
		position: relative;
		top:0rem;
		font-size: 1.1rem;
		border-style: solid;
		border-width: 0.1rem;
		box-shadow: 0.2rem 0.5rem;
		animation-name: test;
		animation-duration: 2s;
		animation-play-state: paused;
	}

	.Curso:active{
		display: block;
		height: 1rem;
		width: 7.4rem;
		margin: 1.5rem;
		padding: 0.5rem;
		color: black;
		position: relative;
		top:0rem;
		font-size: 1.1rem;
		border-style: solid;
		border-width: 0.1rem;
		box-shadow: 0.1rem 0.25rem;
		transform: translate(.5rem, 0.5rem);

	}
	.Ins_pic{
		width: 6.7rem;
		height: 6rem;

	}

	.Ins_2{
		width: 7.9rem;
		height: 9rem;

	}

	.corpo{
		display: flex;
		height: 8rem;

	}

	.Second{
		display: flex;
		height: 9rem;
		margin: 1.5rem;

	}

	.fotos{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 20rem;

	}

	.Sub{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 9rem;

	}


	.inf{
		display: flex;
		font-size: 0.9rem;

	}

	.Third, .Vestibular{
		display: flex;
		justify-content: center;


	}

	.inf2{
		display: flex;
		margin: 1.5rem;
		margin-bottom: 0rem;
		flex-direction: row;
		justify-content: space-around;
		width: 20rem;

	}

	.RA{
		display: flex;
		flex-direction: column;
		height: 5rem;
		justify-content: flex-start;
		margin-top: 0rem;
	}
	.Prova{
		list-style-type: upper-roman;
		flex-wrap: wrap; 
		width: 8rem;
		justify-content: space-around;

	}
	.inf4{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 10rem;
		border: solid;
		width: 9rem;
		padding-left: 2rem;
		margin-top: 1rem;
		margin-left: 0rem;

	}
	.inf3{
		display: flex;
		flex-direction: row;
		margin-left: 1.5rem;
	}

	.inf5{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 1.9rem;  
		flex-wrap: wrap;
	}

	.Contato{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: 5rem;
		margin-top: 1rem;

	}

	.inscrever{
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: rgb(250,57,57);
		margin-top: 1rem;
		height: 2rem;


	}
	.inscrever:active{
		background-color: rgb(163, 2, 2);
	}

	.link1{
		height: 0.7rem;
	}


