@media(max-width: 420px) {
	.header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: black;
		height: 3.5rem;
		position: fixed;
		width:100%;
		top:0rem;
	}
	.logo{
		max-height: 2.5rem;
		margin-left: 0.3rem;
	}
	.menu_img{
		width: 3.5rem;
		margin: 0.5rem;
	}
	.menu{
		position: absolute;
		display: none;
		background-color: black;
		color: white;
		height: 10rem;
		width: 12rem;
		top:3.5rem;
		right:0.5rem;
	}
	.index_titulo{
		color: black;
		font-size: 2rem;
		text-decoration: underline;
	}
	.item{
		padding: 0.5rem;
		text-align: right;
	}

	.main{
		display: flex;
		margin-top: 5.5rem;
		flex-direction: column;
		align-items: center;
	}
	.myFaculs{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly; 

	}
	.facul{
		display: block;
		height: 7rem;
		width: 7rem;
		font-size: 2rem;
		padding: 0.5rem;
		color: white;
		box-shadow: 0.25rem 0.5rem #888888;
		border:0.1rem solid;
		border-color: black
	}
}