@media(max-width: 420px) {

	html,body,main{
		 background-color: rgb(215, 234, 250);
		 height: 100%;
		 max-width:100%;
	}
/* Header--------------------------------------------------------*/
	.header{
		position: fixed;
		z-index: 1;
		width:100%;
		height: 7%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(78, 120, 245);
		box-shadow: 0.15rem 0.25rem #888888;
		border-style: solid;
		border-color: black;
		border-width: 0.01rem
	}
	.logo{
		max-height: 2.5rem;
		margin-left: 0rem;
	}
	.menu_img{
		
		width: 3rem;
		margin: 0.5rem;
		
	}
	.menu{
		position: absolute;
		display: none;
		background-color: rgb(78, 120, 245);
		color: white;
		height: 10rem;
		width: 12rem;
		top:100%;
		right:0%;
		border-style: solid;
		border-color: black;
		border-width: 0.05rem;
		border-radius: 0.2rem;
	}
	.item{
		padding: 0.5rem;
		text-align: right;
	}
/* Index & Descubra--------------------------------------------------------*/
	.main{
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-evenly;
		align-items: center;
	}
	.index_titulo{
		color: black;
		font-size: 2rem;
		margin-top: 3rem;
		text-decoration: underline;
	}
	.myFaculs{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly; 
		height: 100%;
		margin-bottom: 3rem;
	}
	.facul1,.facul2,.facul3,.facul4,.facul5,.facul6{
		display: block;
		height: 5rem;
		width: 5rem;
		font-size: 2rem;
		padding: 0.5rem;
		color: white;
		box-shadow: 0.5rem 1rem #888888;
		border:0.1rem solid;
		border-color: black;
		animation-name: test;
		animation-duration: 2s;
		animation-play-state: paused;
	}
	.facul1:active,.facul2:active,.facul3:active,.facul4:active,.facul5:active,.facul6:active{
		display: block;
		height: 5rem;
		width: 5rem;
		font-size: 2rem;
		padding: 0.5rem;
		color: white;
		box-shadow: 0.25rem 0.5rem #888888;
        transform: translate(.5rem, .5rem);
		border:0.1rem solid;
		border-color: black;
	}
/* Calendario--------------------------------------------------------*/
	.cal_title{

		text-decoration: underline;
		font-size: 3rem;
		margin-top: 3rem;
		
	}
	.cal{
		display: block;
		width: 23rem;
		text-align: center;
	}
	.semana{
		display:flex;
		flex-direction: row;
		justify-content: space-around; 
		justify-content: center
	}
	.dias{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.sem{
		display: block;
		border-color: black;
		border-style: solid;
		border-width:0rem;
		font-size: 1.2rem;
		width:2rem;
		padding: 0.5rem;
		text-align: center;
		background-color:rgb(70, 151, 219);
	}
	.dia,.dia1,.dia1,.dia2,.dia3,.dia4,.dia5,.dia6,.dia7,.dia8,.dia9,.dia10,.dia11,.dia12,.dia13,.dia14,.dia15,.dia16,.dia17,.dia18,.dia19,.dia20,.dia21,.dia22,.dia23,.dia24,.dia25,.dia26,.dia27,.dia28,.dia29,.dia30,.dia31{
		display: block;
		width: 2rem;
		border-style: solid;
		border-width:0rem;
		font-size: 1.5rem;
		padding: 0.5rem;
		margin: 0rem;
		background-color: rgb(100, 202, 250);
	}
	.dia{
		opacity: 0.6;
	}
	.dia:active{
		background-color: rgb(0, 170, 250);
	}
	.valor_div{
		display: none;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		padding: 1rem;
		width:70%;
		height: 12%;
		font-size: 2rem;
		border-color: rgb(155, 200, 222);
		border-width: 0.2rem;
		border-style: solid;
		background-color: rgb(170, 218, 242);
		border-radius: 0.2rem;
	}
	.link{
		display: block;
		width: 50%;
		height: 50%;
		background-color: rgb(120, 207, 245);
		font-size: 2rem; 
		text-decoration:none; 
		text-align: center;
	}
	.link:active{
		background-color: rgb(100, 188, 227);
	}
/* Sobre Palestrante--------------------------------------------------------*/
	.top{
		margin-top: 6rem;
		font-size: 2rem;
		text-decoration: underline;
		text-align: center;
		width: 60%
	}
	.middle{
		width:100%;
		display: flex;
		justify-content: space-evenly;
	}
	.sobre{
		display:block;
		height: 100%;
		width: 50%;
	}
	.foto{
		display:block;
		background-color: rgb(185, 214, 246);
		height: 80%;
		width: 30%;
	}
	.bottom{
		display: flex;
		width:80%;
		flex-direction: row;
		justify-content: space-between;
	}
	.bottom2{
		display: flex;
		width:80%;
		flex-direction: row;
		justify-content: space-between;
	}
	.button{
		margin-bottom: 0rem;
		background-color: rgb(250, 57, 57);
		width: 100%;
		padding:1rem 0rem;
		text-align: center;
		color: white;
	}
	.button:active{
		background-color: rgb(163, 2, 2);
	}
/*Faculdade---------------------------------------------------------------------------*/
	.Top{
		margin-top: 0rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 7rem;
	}
	.Curso{
		display: block;
		height: 1rem;
		width: 7.4rem;
		margin: 1rem 1.5rem;
		padding: 0.5rem;
		color: black;
		position: relative;
		top:0rem;
		font-size: 1.1rem;
		border-style: solid;
		border-width: 0.1rem;
		box-shadow: 0.2rem 0.5rem;
		animation-name: test;
		animation-duration: 2s;
		animation-play-state: paused;
	}

	.Curso:active{
		display: block;
		height: 1rem;
		width: 7.4rem;
		margin: 1.5rem;
		padding: 0.5rem;
		color: black;
		position: relative;
		top:0rem;
		font-size: 1.1rem;
		border-style: solid;
		border-width: 0.1rem;
		box-shadow: 0.1rem 0.25rem;
		transform: translate(.5rem, 0.5rem);

	}
	.Ins_pic{
		width: 6.7rem;
		height: 6rem;

	}

	.Ins_2{
		width: 7.9rem;
		height: 9rem;

	}

	.corpo{
		display: flex;
		height: 8rem;

	}

	.Second{
		display: flex;
		height: 9rem;
		margin: 0.7rem 1.5rem;

	}

	.fotos{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 20rem;

	}

	.Sub{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 9rem;

	}


	.inf{
		display: flex;
		font-size: 0.9rem;

	}

	.Third, .Vestibular{
		display: flex;
		justify-content: center;


	}

	.inf2{
		display: flex;
		margin: 1.5rem;
		margin-bottom: 0rem;
		flex-direction: row;
		justify-content: space-around;
		width: 20rem;

	}

	.RA{
		display: flex;
		flex-direction: column;
		height: 5rem;
		justify-content: flex-start;
		margin-top: 0rem;
	}
	.Prova{
		list-style-type: upper-roman;
		flex-wrap: wrap; 
		width: 8rem;
		justify-content: space-around;

	}
	.inf4{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 10rem;
		border: solid;
		width: 9rem;
		padding-left: 2rem;
		margin-top: 1rem;
		margin-left: 0rem;

	}
	.inf3{
		display: flex;
		flex-direction: row;
		margin-left: 1.5rem;
	}

	.inf5{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 1.9rem;  
		flex-wrap: wrap;
	}

	.Contato{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: 5rem;
		margin-top: 1rem;

	}

	.inscrever{
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: rgb(250,57,57);
		margin-top: 1rem;
		height: 2rem;


	}
	.inscrever:active{
		background-color: rgb(163, 2, 2);
	}

	.link1{
		height: 0.7rem;
	}

/*Contato---------------------------------------------------------------------------*/
	.contato{
		font-weight: bold;
		text-decoration: underline;
		font-size: 2rem;
	}
	.centro{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width:80%;
		height: 40%;
	}
	.remetente{
		display: flex;
		flex-direction: column;

	}
	.conteudo{
		height: 60%;

	}
	.enviar{
		width: 55%;
		height: 3%;
		padding: 1rem;
		text-align: center;
		border-style: solid;
		border-width: 0.02rem;
		border-color: black;
		background-color: rgb(250, 57, 57);
		color: white;
	}
	.enviar:active{
		background-color: rgb(163, 2, 2);
	}
	.main1{
		display: flex;
		margin-top: 3rem;
	}
}