/*.listaoportunidades {
		position: fixed;
		width:100%;
		top:7rem;
		font-size: 2.5rem
	

	
}

.item1{
		position: fixed;
		width:110%;
		top:13rem;
		font-size: 2rem

}

.item2{
		position: fixed;
		width:103%;
		top:19.5rem;
		font-size: 2rem

}

.item3{
		position: fixed;
		width:103%;
		top:25.5rem;
		font-size: 2rem

}*/

main {
	padding-top: 60px;
	top: 50px;
	border: 1px solid red;
}

li {
	margin-bottom: 30px;
}

li > a {
	text-decoration: none;
	color: black;
}

h1 {
	margin-bottom: 20px;
	font-size:2.2rem;
}